pandas
pyqtgraph==0.10.0
scikit_image==0.13.1
opencv_python==3.3.0.10
matplotlib==2.1.0
lxml==4.1.0
numpy
scipy
numba
tifffile
PyOpenGL==3.1.0
Pillow==5.3.0
PyQt5==5.11.3
backports.functools_lru_cache==1.5

