adodbapi==2.6.0.7
alabaster==0.7.10
algopy==0.5.5
altair==1.2.1
altair-widgets==0.1.2
altgraph==0.15
appdirs==1.4.3
astroid==1.5.3
astroML==0.3
astropy==3.0.4
Babel==2.5.1
backports-abc==0.5
baresql==0.7.4
bcolz==1.1.2
beautifulsoup4==4.6.0
blaze==0.10.1
bleach==2.1.1
blosc==1.5.1
bloscpack==0.11.0
bokeh==0.12.10
Bottleneck==1.2.1
bqplot==0.10.0
brewer2mpl==1.4.1
Brotli==1.0.0
certifi==2017.7.27.1
cffi==1.11.2
cgalpy==1.0.3
chardet==3.0.4
click==6.7
cloudpickle==0.4.1
clrmagic==0.0.1a2
colorama==0.3.9
colorcet==0.9.1
comtypes==1.1.3
CVXcanon==0.1.1
cvxopt==1.1.9
cvxpy==0.4.11
cx-Freeze==5.0.2
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.27.2
cytoolz==0.8.2
dask==0.15.4
dask-searchcv==0.1.0
datashader==0.6.2
datashape==0.5.2
db.py==0.5.3
decorator==4.1.2
dill==0.2.7.1
distributed==1.19.3
docopt==0.6.2
docrepr==0.1.0
docutils==0.14
ecos==2.0.4
edward==1.3.4
emcee==2.2.1
entrypoints==0.2.3
fast-histogram==0.3
fastcache==1.0.2
fasteners==0.14.1
fastparquet==0.1.3
feather-format==0.4.0
Flask==0.12.2
Flask-Cors==3.0.3
formlayout==1.1.0
future==0.16.0
fuzzywuzzy==0.15.0
geopy==1.11.0
gitdb2==2.0.0
GitPython==2.1.3
gmpy2==2.0.8
greenlet==0.4.12
guidata==1.7.6
guiqwt==3.0.3
h5py==2.7.1
HeapDict==1.0.0
holoviews==1.8.5.dev0
html5lib==1.0b10
husl==4.0.3
idna==2.6
imageio==2.2.0
imagesize==0.7.1
ipykernel==4.6.1
ipyleaflet==0.4.0
ipympl==0.0.8
ipyparallel==6.0.2
ipython==6.2.1
ipython-genutils==0.2.0
ipython-sql==0.3.8
ipywidgets==7.0.3
isort==4.2.15
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.9.6
joblib==0.11
jsonschema==2.6.0
julia==0.1.4
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
jupyter-sphinx==0.1.1
jupyterlab==0.28.11
jupyterlab-launcher==0.5.5
Keras==2.0.8
keras-vis==0.4.1
Lasagne==0.2.dev1
lazy-object-proxy==1.3.1
llvmlite==0.20.0
lmfit==0.9.7
locket==0.2.0
lxml==4.1.0
macholib==1.9
Mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
metakernel==0.20.7
mistune==0.8
mizani==0.4.0
mkl-service==1.1.2
monotonic==1.3
moviepy==0.2.3.2
mpl-scatter-density==0.3
mpld3==0.3
mpldatacursor==0.6.2
mpmath==1.0.0
msgpack-python==0.4.8
multipledispatch==0.4.9
multiprocess==0.70.5
mypy==0.540
mysql-connector-python==2.0.4
nbconvert==5.3.1
nbconvert-reportlab==0.1
nbdime==0.3.0
nbformat==4.4.0
netCDF4==1.3.1
networkx==2.0
nltk==3.2.5
notebook==5.2.1rc1
numba==0.35.0
numdifftools==0.9.20
numexpr==2.6.4
numpy==1.15.0
numpydoc==0.7.0
oct2py==4.0.6
octave-kernel==0.28.1
odo==0.5.0
olefile==0.44
opencv-python==3.3.0.10
palettable==3.1.0
pandas==0.21.0
pandas-datareader==0.5.0
pandocfilters==1.4.2
param==1.5.1
paramnb==2.0.2
parso==0.1.0
partd==0.3.8
patsy==0.4.1
pdfrw==0.4
pefile==2017.11.5
pep8==1.7.0
pexpect==4.2.1
pg8000==1.10.5
pickleshare==0.7.4
PICOS==1.1.2
Pillow==4.3.0
pkginfo==1.4.1
plotnine==0.2.1
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.4.0
psutil==5.3.1
ptpython==0.41
ptyprocess==0.5.2
PuLP==1.6.8
Pweave==0.30.0a1
py==1.4.34
pyarrow==0.7.1
PyAudio==0.2.11
pybars3==0.9.3
pybind11==2.2.1
pybinding==0.9.4
pycodestyle==2.3.1
pycparser==2.17
pycuda==2017.1.1+cuda9288
pyflakes==1.6.0
pyflux==0.4.15
pygame==1.9.3
Pygments==2.2.0
PyInstaller==3.4.dev0+eea47968c
pylint==1.7.4
pymc==2.3.6
pymc3==3.2
PyMeta3==0.5.1
pymongo==3.5.1
pyodbc==4.0.19
PyOpenGL==3.1.1
PyOpenGL-accelerate==3.1.1
pypandoc==1.3.2
pyparsing==2.2.0
PyQt5==5.9
pyqtgraph==0.10.0
pyreadline==2.0
pyserial==3.4
pystache==0.5.4
pytest==3.2.3
python-dateutil==2.6.1
python-hdf4==0.9
python-Levenshtein==0.12.0
python-snappy==0.5.1
pythonnet==2.4.0.dev0
PythonQwt==0.5.5
pythtb==1.7.2
pytools==2017.6
pytz==2017.2
PyWavelets==0.5.2
pywin32==221
pywin32-ctypes==0.1.2
pywinusb==0.4.2
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
qutip==4.2.0
redis==2.10.6
reportlab==3.4.0
requests==2.18.4
requests-file==1.4.2
requests-ftp==0.3.1
requests-toolbelt==0.8.0
rope==0.10.5
rpy2==2.8.6
Rx==1.6.0
scikit-fuzzy==0.3.1
scikit-garden==0.1.3
scikit-image==0.13.1
scikit-learn==0.19.1
scikit-neuralnetwork==0.7
scikit-optimize==0.4
scilab2py==0.6
scipy==1.1.0
scs==1.2.7
seaborn==0.8.1
simplegeneric==0.8.1
simplejson==3.11.1
sip==4.19.3
six==1.11.0
sklearn==0.0
smmap2==2.0.3
snakeviz==0.4.2
snowballstemmer==1.2.1
sortedcontainers==1.5.7
sounddevice==0.3.9
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1
spyder==3.2.4
spyder-reports==0.1.1
SQLAlchemy==1.1.14
sqlite-bro==0.8.11
sqlparse==0.2.4
statsmodels==0.9.0.dev0
streamz==0.2.0
supersmoother==0.4
sympy==1.1.1
tables==3.4.2
tblib==1.3.2
tensorflow==1.3.0
tensorflow-tensorboard==0.1.8
testpath==0.3.1
Theano==0.9.0
thrift==0.10.0
tifffile==2017.9.29
toolz==0.8.2
tornado==4.5.2
tqdm==4.19.4
traitlets==4.3.2
traittypes==0.0.6
twine==1.9.1
twitter==1.17.1
typed-ast==1.1.0
urllib3==1.21.1
vega==0.4.4
ViTables==3.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.6
winpython==1.9.20171031
wordcloud==1.3.2
wrapt==1.10.11
xarray==0.9.6
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.4
zarr==2.1.4
zict==0.1.3
